<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Wines in Chicago
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          
        </th>

        <th>
          Wine
        </th>

        <th>
          Price
        </th>

        <th>
          Tags
        </th>

        <th>
          Rating
        </th>

      </tr>

      <% @inventories.each do |inventory| %>
      <tr>
        <td>
          <img src="<%= inventory.photo_url %>" width="50">
        </td>

        <td>
          <a href="/inventories/<%= inventory.id %>">
            <%= inventory.vintage %> <%= inventory.vineyard %> <%= inventory.blend %>
          </a>
        </td>

        <td>
          <%= number_to_currency(inventory.price) %>
        </td>

        <td>
          <%= inventory.tags.to_sentence %>
        </td>

        <td>
          <%= inventory.avg_rating %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
