<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Wines in Chicago
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          
        </th>

        <th>
          Wine
        </th>

        <th>
          Price
        </th>

        <th>
          Tags
        </th>

        <th>
          Expert rating
        </th>

        <th>
          Expert notes
        </th>


      </tr>

      <% @inventories.each do |inventory| %>
      <tr>
        <td>
          <img src="<%= inventory.photo_url %>" width="50">
        </td>

        <td>
          <a href="/inventories/<%= inventory.id %>">
            <%= inventory.vintage %> <%= inventory.vineyard %> <%= inventory.blend %>
          </a>
        </td>

        <td>
          <%= number_to_currency(inventory.price) %>
        </td>

        <td>
          <% inventory.tags_array.each do |tag| %>
            <p style="background-color:#5bc0de; display:inline; padding:.2em .6em .3em;font-size:75%;font-weight:700; line-height:1; text-align:center; white-space:nowrap; vertical-align:baseline; border-radius:.25em;">
            <a href="/wines/tag/<%= tag.tag %>" style="color:#fff;">
              <%= tag.tag %>
            </a>
            </p>
            &nbsp;
          <% end %>
        </td>

        <td>
          <%= inventory.expert_rating %>
        </td>

        <td>
          <%= inventory.expert_notes %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
