<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Wines in Chicago
    </h1>
  </div>
</div>

<hr>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Wine
        </th>

        <th>
          Owner
        </th>

        <th>
          Location
        </th>

        <th>
          Price
        </th>

        <th>
          End date
        </th>

        <th>
          Tags
        </th>

        <th>
        </th>
      </tr>

      <% @inventories.each do |inventory| %>
      <tr>

        <td>
          <%= inventory.vintage %> <%= inventory.vineyard %> <%= inventory.blend %>
        </td>

        <td>
          <%= inventory.owner_name %>
        </td>

        <td>
          <%= inventory.location %>
        </td>

        <td>
          <%= inventory.price %>
        </td>

        <td>
          <%= inventory.end_date %>
        </td>

        <td>
          <%= inventory.tags.to_sentence %>
        </td>

        <td>
          <a href="/inventories/<%= inventory.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
