<a href="/inventories">
  Back to all inventory
</a>
<br>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @wine.vintage %> <%= @wine.vineyard %> <%= @wine.blend %>
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <img src="<%= @wine.photo_url %>" height="250">
  </div>
</div>

<%# Display info %>

<div>
  <%# Inventory info %>
  <div class="row">
    <div class="col-md-4">
        <b>Location</b>
      <br>
        <%= @inventory.location %>
    </div>
    <div class="col-md-4">
        <b>Price</b>
      <br>
        <%= number_to_currency(@inventory.price) %>
    </div>
    <div class="col-md-4">
        <b>Still in inventory?</b>
      <br>
        <% if @alive == true %>
          <i style="font-size: 1.5em; color:green;" class="fas fa-check"></i>
          <br><br>
          <a href="/remove_inventory/<%= @inventory.id %>" class="btn btn-block btn-danger">
          Remove from inventory
          </a>
          <a href="/change_inventory/<%= @inventory.id %>" class="btn btn-block btn-outline-secondary">
          Change location
          </a>
        <% else %>
          <i style="font-size: 1.5em; color:#ed8780;" class="fas fa-minus-circle"></i>
        <% end %>
    </div>
  </div>

  <br>
  <br>

  <%# Expert info %>
  <h2>Expert information</h2>
  <div class="row">
    <div class="col-md-4">
        <b>Rating</b>
      <br>
        <% if @wine.expert_rating == nil %>
          No expert rating
        <% else %>
          <% if @wine.expert_rating == 5 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
          <% elsif @wine.expert_rating >= 4 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
          <% elsif @wine.expert_rating >= 3 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% elsif @wine.expert_rating >= 2 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% elsif @wine.expert_rating >= 1 %>
            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% else %>
            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% end %>
          <%= @wine.expert_rating.to_f %>
        <% end %>
    </div>
    <div class="col-md-4">
        <b>Notes</b>
      <br>
        <%= @wine.expert_notes %>
    </div>
    <div class="col-md-4">
        <a href="<%= @wine.external_url %>">More info</a> <i class="fas fa-external-link-alt"></i>
    </div>
  </div>

<br>
<hr>

  <%# User ratings info %>
  <h2>Our information</h2>
  <div class="row">
    <div class="col-md-4">
        <b>Our rating</b>
      <br>
      <% if @avg_rating == 0 %>
        No rating
        <% else %>
          <% if @avg_rating == 5 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
          <% elsif @avg_rating >= 4 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
          <% elsif @avg_rating >= 3 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% elsif @avg_rating >= 2 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% elsif @avg_rating >= 1 %>
            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% else %>
            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% end %>
          <%= @avg_rating %>
        <% end %>
    </div>
    <div class="col-md-4">
        <b>Tags</b>
      <br>
        <% if @tags_count != 0 %>
          <% @inventory.tags_array.each do |tag| %>
            <p style="background-color:#5bc0de; display:inline; padding:.2em .6em .3em;font-size:75%;font-weight:700; line-height:1; text-align:center; white-space:nowrap; vertical-align:baseline; border-radius:.25em;">
            <a href="/wines/tag/<%= tag.tag %>" style="color:#fff;">
              <%= tag.tag %>
            </a>
            </p>
            &nbsp;
          <% end %>
        <% else %>
          No tags yet
        <% end %>
    </div>
    <div class="col-md-4">
        <b>Comments</b>
      <br>
        <% if @comments.count == 0 %>
          No comments yet
        <% else %>
          <table class="table">
            <% @comments.each do |comment| %>
              <tr>
                <td>
                  <%= comment.comment %>
                </td>
                <td>
                  <%= comment.commenter_name %>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>
    </div>
  </div>

</div>

<hr>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h2 style="color: black;">
            Rate, tag or comment
          </h2>
        </a>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <%# USER ACTIONS %>
            <div class="row">
              <%# Allow rating %>
              <div class="col-md-4">
                <form action="/insert_user_rating" method="post">
                  <div class="form-group">
                    <input type="hidden" id="inventory_id" name="inventory_id_from_query" class="form-control" value=<%= @inventory.id%>>
                  </div>
                  <div class="form-group">
                      <input type="hidden" id="wine_id_box" name="wine_id_from_query" class="form-control" value=<%= @inventory.wine_id%>>
                  </div>
                  <div class="form-group">
                      <div class="row">
                        <%# 1 star %>
                        <span style="font-size: 0.75em;">
                          <input type="radio" id="1_stars" value="1" name="rating_from_query">
                            <label for="1_stars">
                              <i class="fas fa-star"></i>
                            </label>
                        </span>
                        &nbsp;&nbsp;
                        <%# 2 star %>
                        <span style="font-size: 0.75em;">
                          <input type="radio" id="2_stars" value="2" name="rating_from_query">
                            <label for="2_stars">
                              <i class="fas fa-star"></i><i class="fas fa-star"></i>
                            </label>
                          </span>
                          &nbsp;&nbsp;
                        <%# 3 star %>
                        <span style="font-size: 0.75em;">
                          <input type="radio" id="3_stars" value="3" name="rating_from_query">
                            <label for="3_stars">
                              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            </label>
                        </span>
                        &nbsp;&nbsp;
                        <%# 4 star %>
                        <span style="font-size: 0.75em;">
                          <input type="radio" id="4_stars" value="4" name="rating_from_query">
                            <label for="4_stars">
                              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            </label>
                        </span>
                        &nbsp;&nbsp;
                        <%# 5 star %>
                        <span style="font-size: 0.75em;">
                          <input type="radio" id="5_stars" value="5" name="rating_from_query">
                            <label for="5_stars">
                              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            </label>
                        </span>
                      </div>
                    </div>

                    <button class="btn btn-block btn-outline-secondary">
                      Submit rating
                    </button>
                  </form>
              </div>
              
              <%# Allow tagging %>
              <div class="col-md-4"> 
                <form action="/insert_tag" method="post">
                  
                  <div class="form-group">
                    <input type="hidden" id="inventory_id" name="inventory_id_from_query" class="form-control" value=<%= @inventory.id%>>
                  </div>

                  <div class="form-group">
                    <input type="hidden" id="wine_id_box" name="wine_id_from_query" class="form-control" value=<%= @inventory.wine_id%>>
                  </div>

                  <div class="form-group">
                    <label for="tag_box">
                      Add a tag
                    </label>

                    <select id="tag_box" name="tag_from_query" class="form-control">
                      <option value="cheap">cheap</option>
                      <option value="fancy">fancy</option>
                      <option value="red">red</option>
                      <option value="white">white</option>
                      <option value="sparkling">sparlking</option>
                      <option value="rose">rose</option>
                      <option value="dan">Dan</option>
                    </select>
                  </div>

                  <button class="btn btn-block btn-outline-secondary">
                    Create tag
                  </button>
                </form>
              </div>

              <%# Allow commenting %>
              <div class="col-md-4">
                <form action="/insert_user_comment" method="post">
                  <div class="form-group">
                    <input type="hidden" id="inventory_id" name="inventory_id_from_query" class="form-control" value=<%= @inventory.id%>>
                  </div>

                  <div class="form-group">
                    <input type="hidden" id="wine_id_box" name="wine_id_from_query" class="form-control" value=<%= @inventory.wine_id%>>
                  </div>

                  <div class="form-group">
                    <label for="comment_box">
                      Comment
                    </label>

                    <textarea id="comment_box" name="comment_from_query" class="form-control" rows="3"></textarea>
                  </div>

                  <button class="btn btn-block btn-outline-secondary">
                    Comment
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
            

    </div>
</div>

<hr>
<a href="/delete_inventory/<%= @inventory.id %>">
  Delete from cellar
</a>


