<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Inventory #<%= @inventory.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/inventories" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_inventory/<%= @inventory.id %>" class="btn btn-block btn-outline-secondary">
          Delete inventory
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Wine
      </dt>
      <dd>
        <%= @inventory.wine_id %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @inventory.owner_id %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @inventory.location %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @inventory.price %>
      </dd>

      <dt>
        End date
      </dt>
      <dd>
        <%= @inventory.end_date %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@inventory.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@inventory.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new user rating
    </h2>

    <form action="/insert_user_rating" method="post">

      <div class="form-group">
        <input type="hidden" id="wine_id_box" name="wine_id_from_query" class="form-control" value=<%= @inventory.wine_id%>>
      </div>

      <div class="form-group">
        <label for="rating_box">
          Rating
        </label>

        <input type="text" id="rating_box" name="rating_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create user rating
      </button>
    </form>
  </div>
</div>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new tag
    </h2>

    <form action="/insert_tag" method="post">
      <div class="form-group">
        <input type="hidden" id="wine_id_box" name="wine_id_from_query" class="form-control" value=<%= @inventory.wine_id%>>
      </div>

      <div class="form-group">
        <label for="tag_box">
          Tag
        </label>

        <input type="text" id="tag_box" name="tag_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create tag
      </button>
    </form>
  </div>
</div>

