<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Follow request #<%= @follow_request.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/follow_requests" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_follow_request/<%= @follow_request.id %>" class="btn btn-block btn-outline-secondary">
          Delete follow request
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Sender
      </dt>
      <dd>
        <%= @follow_request.sender_id %>
      </dd>

      <dt>
        Leader
      </dt>
      <dd>
        <%= @follow_request.leader_id %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @follow_request.status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@follow_request.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@follow_request.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit follow request
    </h2>

    <form action="/modify_follow_request/<%= @follow_request.id %>"  method="post" >
      <div class="form-group">
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="sender_id_from_query" class="form-control" value="<%= @follow_request.sender_id %>">
      </div>

      <div class="form-group">
        <label for="leader_id_box">
          Leader
        </label>

        <input type="text" id="leader_id_box" name="leader_id_from_query" class="form-control" value="<%= @follow_request.leader_id %>">
      </div>

      <div class="form-group">
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="status_from_query" class="form-control" value="<%= @follow_request.status %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update follow request
      </button>
    </form>
  </div>
</div>

<hr>
