<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all tags
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new tag
    </h2>

    <form action="/insert_tag" method="post">
      <div class="form-group">
        <label for="wine_id_box">
          Wine
        </label>

        <input type="text" id="wine_id_box" name="wine_id_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="user_id_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="tag_box">
          Tag
        </label>

        <input type="text" id="tag_box" name="tag_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create tag
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Wine
        </th>

        <th>
          User
        </th>

        <th>
          Tag
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @tags.each do |tag| %>
      <tr>
        <td>
          <%= tag.id %>
        </td>

        <td>
          <%= tag.wine_id %>
        </td>

        <td>
          <%= tag.user_id %>
        </td>

        <td>
          <%= tag.tag %>
        </td>

        <td>
          <%= time_ago_in_words(tag.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(tag.updated_at) %> ago
        </td>

        <td>
          <a href="/tags/<%= tag.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
