<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all tags
    </h1>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Wine
        </th>

        <th>
          Author
        </th>

        <th>
          Tag
        </th>

        <th>
        </th>
      </tr>

      <% @tags.each do |tag| %>
      <tr>

        <td>
          <%= tag.wine_vintage %> <%= tag.wine_vineyard %> <%= tag.wine_blend %>
        </td>

        <td>
          <%= tag.author %>
        </td>

        <td>
          <%= tag.tag %>
        </td>

        <td>
          <a href="/tags/<%= tag.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
