<a href="/tags">
  Go back
  </a>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Tag details
    </h1>

    <dl>
      <dt>
        Wine
      </dt>
      <dd>
        <%= @wine.vintage %> <%= @wine.vineyard %> <%= @wine.blend %>
      </dd>

      <dt>
        Created by
      </dt>
      <dd>
        <%= @tag.author %>
      </dd>

      <dt>
        Tag
      </dt>
      <dd>
        <%= @tag.tag %>
      </dd>
      
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit tag
    </h2>

    <form action="/modify_tag/<%= @tag.id %>"  method="post" >

      <div class="form-group">
        <label for="tag_box">
          Tag
        </label>

        <input type="text" id="tag_box" name="tag_from_query" class="form-control" value="<%= @tag.tag %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update tag
      </button>
    </form>
  </div>
</div>

<hr>

<div class="col-md-8 offset-md-2">
  <a href="/delete_tag/<%= @tag.id %>" class="btn btn-block btn-danger">
    Delete tag
  </a>
</div>
