<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all user comments
    </h1>
  </div>
</div>

<hr>


<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Wine
        </th>

        <th>
          Comment
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @user_comments.each do |user_comment| %>
      <tr>
        <td>
          <%= user_comment.id %>
        </td>

        <td>
          <%= user_comment.user_id %>
        </td>

        <td>
          <%= user_comment.wine_id %>
        </td>

        <td>
          <%= user_comment.comment %>
        </td>

        <td>
          <%= time_ago_in_words(user_comment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(user_comment.updated_at) %> ago
        </td>

        <td>
          <a href="/user_comments/<%= user_comment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
