<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all user comments
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new user comment
    </h2>

    <form action="/insert_user_comment" method="post">
      <div class="form-group">
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="user_id_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="wine_id_box">
          Wine
        </label>

        <input type="text" id="wine_id_box" name="wine_id_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="comment_box">
          Comment
        </label>

        <textarea id="comment_box" name="comment_from_query" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create user comment
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Wine
        </th>

        <th>
          Comment
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @user_comments.each do |user_comment| %>
      <tr>
        <td>
          <%= user_comment.id %>
        </td>

        <td>
          <%= user_comment.user_id %>
        </td>

        <td>
          <%= user_comment.wine_id %>
        </td>

        <td>
          <%= user_comment.comment %>
        </td>

        <td>
          <%= time_ago_in_words(user_comment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(user_comment.updated_at) %> ago
        </td>

        <td>
          <a href="/user_comments/<%= user_comment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
