<a href="/user_comments">
  Go back
</a>
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Comment details
    </h1>

    <dl>
      <dt>
        Wine
      </dt>
      <dd>
        <%= @user_comment.wine_vintage %> <%= @user_comment.wine_vineyard %> <%= @user_comment.wine_blend %>
      </dd>
      
      <dt>
        User
      </dt>
      <dd>
        <%= @user_comment.commenter_name %>
      </dd>

      <dt>
        Comment
      </dt>
      <dd>
        <%= @user_comment.comment %>
      </dd>

    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit user comment
    </h2>

    <form action="/modify_user_comment/<%= @user_comment.id %>"  method="post" >
      <input type="hidden" id="wine_id_box" name="wine_id_from_query" class="form-control" value="<%= @user_comment.wine_id %>">

      <div class="form-group">
        <label for="comment_box">
          Comment
        </label>

        <textarea id="comment_box" name="comment_from_query" class="form-control" rows="3"><%= @user_comment.comment %></textarea>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update comment
      </button>
    </form>
  </div>
</div>

<hr>

<div class="col-md-8 offset-md-2">
  <a href="/delete_user_comment/<%= @user_comment.id %>" class="btn btn-block btn-danger">
    Delete user comment
  </a>
</div>