<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all ratings
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          User
        </th>

        <th>
          Wine
        </th>

        <th>
          Rating
        </th>

        <th>
        </th>
      </tr>

      <% @user_ratings.each do |user_rating| %>
      <tr>
        <td>
          <%= user_rating.rater_name %>
        </td>

        <td>
          <%= user_rating.wine_vintage %> <%= user_rating.wine_vineyard %> <%= user_rating.wine_blend %>
        </td>

        <td>
          <% if user_rating.rating == 5 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
          <% elsif user_rating.rating >= 4 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
          <% elsif user_rating.rating >= 3 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% elsif user_rating.rating >= 2 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% elsif user_rating.rating >= 1 %>
            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% else %>
            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% end %>
        </td>

        <td>
          <a href="/ratings/<%= user_rating.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
