<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all user ratings
    </h1>
  </div>
</div>

<hr>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Wine
        </th>

        <th>
          Rating
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @user_ratings.each do |user_rating| %>
      <tr>
        <td>
          <%= user_rating.id %>
        </td>

        <td>
          <%= user_rating.user_id %>
        </td>

        <td>
          <%= user_rating.wine_id %>
        </td>

        <td>
          <%= user_rating.rating %>
        </td>

        <td>
          <%= time_ago_in_words(user_rating.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(user_rating.updated_at) %> ago
        </td>

        <td>
          <a href="/user_ratings/<%= user_rating.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
