<a href="/user_ratings">
  Go back
</a>
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      User rating #<%= @user_rating.id %> details
    </h1>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @user_rating.user_id %>
      </dd>

      <dt>
        Wine
      </dt>
      <dd>
        <%= @user_rating.wine_id %>
      </dd>

      <dt>
        Rating
      </dt>
      <dd>
        <%= @user_rating.rating %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@user_rating.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@user_rating.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit user rating
    </h2>

    <form action="/modify_user_rating/<%= @user_rating.id %>"  method="post" >
      <input type="hidden" id="wine_id_box" name="wine_id_from_query" class="form-control" value="<%= @user_rating.wine_id %>">

      <div class="form-group">
        <div class="row">
          <%# 1 star %>
          <span style="font-size: 0.75em;">
            <input type="radio" id="1_stars" value="1" name="rating_from_query">
              <label for="1_stars">
                <i class="fas fa-star"></i>
              </label>
          </span>
          &nbsp;&nbsp;
          <%# 2 star %>
          <span style="font-size: 0.75em;">
            <input type="radio" id="2_stars" value="2" name="rating_from_query">
              <label for="2_stars">
                <i class="fas fa-star"></i><i class="fas fa-star"></i>
              </label>
            </span>
            &nbsp;&nbsp;
          <%# 3 star %>
          <span style="font-size: 0.75em;">
            <input type="radio" id="3_stars" value="3" name="rating_from_query">
              <label for="3_stars">
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </label>
          </span>
          &nbsp;&nbsp;
          <%# 4 star %>
          <span style="font-size: 0.75em;">
            <input type="radio" id="4_stars" value="4" name="rating_from_query">
              <label for="4_stars">
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </label>
          </span>
          &nbsp;&nbsp;
          <%# 5 star %>
          <span style="font-size: 0.75em;">
            <input type="radio" id="5_stars" value="5" name="rating_from_query">
              <label for="5_stars">
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </label>
          </span>
        </div>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update user rating
      </button>
    </form>
  </div>
</div>

<hr>
<div class="col-md-8 offset-md-2">
  <a href="/delete_user_rating/<%= @user_rating.id %>" class="btn btn-block btn-danger">
    Delete user rating
  </a>
</div>