<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All wines
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
        </th>

        <th>
          Wine
        </th>

        <th>
          Available?
        </th>

        <th>
          Tags
        </th>

        <th>
          User rating
        </th>

        <th>
          Expert rating
        </th>

        <th>
          Expert notes
        </th>

        <th>
        </th>
      </tr>

      <% @wines.each do |wine| %>
      <tr>
        <td>
          <p style="text-align:center;"><img src="<%= wine.photo_url %>" height="100"></p>
        </td>

        <td>
          <a href="/wines/<%= wine.id %>">
            <%= wine.vintage %> <%= wine.vineyard %> <%= wine.blend %>
          </a>
        </td>

        <td>
          <% if wine.available == true %>
            <i style="color:green;" class="fas fa-check"></i>
          <% else %>
            <i style="color:#ed8780;" class="fas fa-minus-circle"></i>
          <% end %>
        </td>
        
        <td>
          <% wine.tags_array.each do |tag| %>
            <p style="background-color:#5bc0de; display:inline; padding:.2em .6em .3em;font-size:75%;font-weight:700; line-height:1; text-align:center; white-space:nowrap; vertical-align:baseline; border-radius:.25em;">
            <a href="/wines/tag/<%= tag.tag %>" style="color:#fff;">
              <%= tag.tag %>
            </a>
            </p>
            <br>
          <% end %>
        </td>

        <td>
          <% if wine.avg_rating == 0 %>
          <% else %>
            <%= wine.avg_rating %>
          <% end %>
        </td>

        <td>
          <%= wine.expert_rating %>
        </td>

        <td>
          <%= wine.expert_notes %>
        </td>


        <td>
          <% if wine.external_url == nil %>
          <% else %>
            <% if wine.external_url.length < 1 %>
            <% else %>
              <a href="<%= wine.external_url %>">
                More info
              </a>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
