<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all wines
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new wine
    </h2>

    <form action="/insert_wine" method="post">
      <div class="form-group">
        <label for="vintage_box">
          Vintage
        </label>

        <input type="text" id="vintage_box" name="vintage_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="vineyard_box">
          Vineyard
        </label>

        <input type="text" id="vineyard_box" name="vineyard_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="blend_box">
          Blend
        </label>

        <input type="text" id="blend_box" name="blend_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="expert_rating_box">
          Expert rating
        </label>

        <input type="text" id="expert_rating_box" name="expert_rating_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="expert_notes_box">
          Expert notes
        </label>

        <textarea id="expert_notes_box" name="expert_notes_from_query" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="photo_url_box">
          Photo url
        </label>

        <input type="text" id="photo_url_box" name="photo_url_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="external_url_box">
          External url
        </label>

        <input type="text" id="external_url_box" name="external_url_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create wine
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Vintage
        </th>

        <th>
          Vineyard
        </th>

        <th>
          Blend
        </th>

        <th>
          Expert rating
        </th>

        <th>
          Expert notes
        </th>

        <th>
          Photo url
        </th>

        <th>
          External url
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @wines.each do |wine| %>
      <tr>
        <td>
          <%= wine.id %>
        </td>

        <td>
          <%= wine.vintage %>
        </td>

        <td>
          <%= wine.vineyard %>
        </td>

        <td>
          <%= wine.blend %>
        </td>

        <td>
          <%= wine.expert_rating %>
        </td>

        <td>
          <%= wine.expert_notes %>
        </td>

        <td>
          <%= wine.photo_url %>
        </td>

        <td>
          <%= wine.external_url %>
        </td>

        <td>
          <%= time_ago_in_words(wine.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(wine.updated_at) %> ago
        </td>

        <td>
          <a href="/wines/<%= wine.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
