<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all <%= @rating_min %> wines
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
        </th>

        <th>
          Wine
        </th>

        <th>
          Expert rating
        </th>

        <th>
          Expert notes
        </th>

        <th>
          User rating
        </th>

        <th>
        </th>
      </tr>

      <% @wines.each do |wine| %>
        <% if wine.avg_rating >= @min_rating %>
        <tr>
          <td>
            <img src="<%= wine.photo_url %>" width="50">
          </td>

          <td>
            <a href="/wines/<%= wine.id %>">
              <%= wine.vintage %> <%= wine.vineyard %> <%= wine.blend %>
            </a>
          </td>

          <td>
            <%= wine.expert_rating %>
          </td>

          <td>
            <%= wine.expert_notes %>
          </td>

          <td>
            <%= wine.avg_rating %>
          </td>

          <td>
            <a href="<%= wine.external_url %>">More info</a>
          </td>
        </tr>
        <% else %>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<hr>
