<a href="/wines">
  Go back
</a>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @wine.vintage %> <%= @wine.vineyard %> <%= @wine.blend %>
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-4 offset-md-2">
    <img src="<%= @wine.photo_url %>" height="250">
  </div>
  <div class="col-md-4">
    <b>In your cellar?</b>
    <br>
    <% if @alive == true %>
      <i style="font-size: 1.5em; color:green;" class="fas fa-check"></i>
      <br>
      <b>Location</b>: <%= @inventory_locations.to_sentence %>
      <br>
    <% else %>
      <i style="font-size: 1.5em; color:#ed8780;" class="fas fa-minus-circle"></i>
    <% end %>
  </div>
</div>

<%# Display info %>
<br><br>
<div>
<%# User ratings info %>
  <div class="row">
    <div class="col-md-4 offset-md-2">
      <% if @avg_rating == 0 %>
        No rating
        <% else %>
          <% if @avg_rating == 5 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
          <% elsif @avg_rating >= 4 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
          <% elsif @avg_rating >= 3 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% elsif @avg_rating >= 2 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% elsif @avg_rating >= 1 %>
            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% else %>
            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% end %>
          <%= @avg_rating %>
        <% end %>
        <br>
        <% if @tags_count != 0 %>
          <% @wine.tags_array.each do |tag| %>
            <p style="background-color:#5bc0de; display:inline; padding:.2em .6em .3em;font-size:75%;font-weight:700; line-height:1; text-align:center; white-space:nowrap; vertical-align:baseline; border-radius:.25em;">
            <a href="/wines/tag/<%= tag.tag %>" style="color:#fff;">
              <%= tag.tag %>
            </a>
            </p>
            &nbsp;
          <% end %>
        <% else %>
          No tags yet
        <% end %>
    </div>
    <div class="col-md-6">
        <b>Comments</b>
      <br>
        <% if @comments.count == 0 %>
          No comments yet
        <% else %>
            <% @comments.each do |comment| %>
              <%= comment.comment %> - <i><%= comment.commenter_name %></i>
              <br>
            <% end %>
        <% end %>
    </div>
  </div>
  <br>

  <%# Expert info %>
  <div class="row">
    <div class="col-md-4 offset-md-2">
        <b>Expert rating</b>
      <br>
        <% if @wine.expert_rating == nil %>
          No expert rating
        <% else %>
          <% if @wine.expert_rating == 5 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
          <% elsif @wine.expert_rating >= 4 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
          <% elsif @wine.expert_rating >= 3 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% elsif @wine.expert_rating >= 2 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% elsif @wine.expert_rating >= 1 %>
            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% else %>
            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% end %>
          <%= @wine.expert_rating.to_f %>
        <% end %>
        <br>
        <a href="<%= @wine.external_url %>">More info</a> <i class="fas fa-external-link-alt"></i>
    </div>
    <div class="col-md-6">
        <b>Expert notes</b>
      <br>
        <%= @wine.expert_notes %>
    </div>
  </div>

</div>

<br><br>

<div class="col-md-8 offset-md-2">
  <a href="/edit_wine/<%= @wine.id %>" class="btn btn-block btn-outline-secondary">
      Update wine
  </a>
</div>

